In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
emp=pd.Series(['Pushpa','Parker','Smith','William'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to Data frame\n")
print(result)

Series to Data frame

       Emp   ID
0   Pushpa  102
1   Parker  107
2    Smith  109
3  William  114

In [4]:
print("\nExtracting one column:\n")
print(result['Emp'])

Extracting one column:

0     Pushpa
1     Parker
2      Smith
3    William
Name: Emp, dtype: object

In [5]:
print("\nAdding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column:

       Emp   ID  Age
0   Pushpa  102   35
1   Parker  107   24
2    Smith  109   40
3  William  114   38

In [6]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   Pushpa  102
1   Parker  107
2    Smith  109
3  William  114

In [7]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
ID       109
Name: 2, dtype: object

In [8]:
print("\nSlice rows:\n",result[1:3])

Slice rows:
       Emp   ID
1  Parker  107
2   Smith  109

In [9]:
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\nAdding new row values:\n",result.append(d2))

Adding new row values:
        Emp   ID
0   Pushpa  102
1   Parker  107
2    Smith  109
3  William  114
0     Dale  123
1     Mark  143

C:\Users\Tcs\AppData\Local\Temp\ipykernel_2200\1753680200.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print("\nAdding new row values:\n",result.append(d2))

In [11]:
print("\ndeleting particular row:\n",result.drop(1))

deleting particular row:
        Emp   ID
0   Pushpa  102
2    Smith  109
3  William  114